<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find pursuit3d)/config/solver.yaml" />

  <node pkg="pursuit3d" type="plot_rviz" name="plot_rviz" output="screen" respawn="true" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pursuit3d)/rviz/pursuit.rviz"/>

</launch>
