<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<robot name="test_robot">

  <link name="inertial" />

  <link name="meem" >
   <collision>
     <origin xyz="-50 30 20.4" rpy="0 0 -0.5"/>
     <geometry>
       <box size="10 10 40.8"/>
     </geometry>
   </collision>
 </link>

  <link name="chem" >
    <collision>
      <origin xyz="-20 40 14.95" rpy="0 0 -0.5"/>
      <geometry>
        <box size="8 8 29.9"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_meem" type="fixed">
    <parent link="inertial"/>
    <child link="meem"/>
  </joint>

  <joint name="joint_chem" type="fixed">
    <parent link="inertial"/>
    <child link="chem"/>
  </joint>

</robot>
